.signin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.signin input {
    height: 2px;
    padding: 1rem;
    outline: none;
}

.signin button {
    width: 8rem;
    height: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}